<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Форма для авторизации</title>
    {% load static %}
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js"></script>
  </head>
  <body>
  <div class="wrapper">
    <div class='form' id='mainForm'>
      <label class="tab active" id="aut" title="authorization">Авторизация</label>
      <label class="tab inactive" id="reg" title="registration">Регистрация</label>

      <form class="tab-form active" action="{% url 'plan:logprocess' %}" id="page1" method="POST">
        {% csrf_token %}
        <input class="input" type="text" name="user_name" id="uname" placeholder="Введите логин" required>
        <input class="input" type="password" name="user_password" id="upass" placeholder="Введите пароль" required>
        <input class="button" type="submit" value="Войти">
      </form>
      <form class="tab-form inactive" action="{% url 'plan:regprocess' %}" id="page2" method="POST">
        {% csrf_token %}
        <input class="input" type="email" name="user_mail" id="umail" placeholder="Введите Email адрес" required>
        <input class="input" type="text" name="user_name" id="uname" placeholder="Введите свое имя" required>
        <input class="input" type="password" name="user_password" id="upass" placeholder="Введите пароль" required>
        <input class="button" type="submit" value="Регистрация">


      </form>
    </div>
  </div>
  </body>
</html>
